*{
    margin: 0;
    padding: 0;
}
.rodape{
    height: 50px;
    width: 100%;
    background-color: black;
}
.rodape h3{
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    padding: 10px;
}
.principal1{
    background-color: #6eb6dc;
    width: 100%;
    height: 560px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    justify-content: center;
    align-items: center;
}
/* .principal1 img{
    height: 46px;
    width: 46px;
    margin-top: 10px;
    margin-top: 50px;
    margin-left: 40px;
} */


.texto{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    display: flex;
    padding: 180px;

}
.texto h1{
    align-items: flex-start;
    display: flex;
    color: white;
    font-size: 60px;

}